{% extends "base.html" %}

{% block content %}
<h1 class="mb-3">Register</h1>

<form method="post" class="form">
    {% csrf_token %}
      {% for field in form %}
      <div class="mb-1">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
          <div class="text-danger">{{ field.errors }}</div>
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="button">create account</button>
    <div> already have an account? <a href="{% url 'users:login' %}" class="link">login</a></div>
  </form>

{% endblock %}