        <div class="card card-li grid-3">
            <div>
            </div>
            <div>
                <a href="{% url 'tracker:task-detail' task.pk%}">
                    {{task.name}}
                    {% if include_project %}
                        {% include "tracker/partials/_project_badge.html" with project=task.project %}
                    {% endif %}
                </a>
            </div>
            <div>
                <span class="small muted bold">
                    {{task.total_time_spent_dict.hours|stringformat:"02d"}}:{{task.total_time_spent_dict.minutes|stringformat:"02d"}}
                </span>
            </div>
        </div>