{% extends "base.html" %}

{% block content %}
<section class="mb-3">
    {% include "tracker/partials/_summary_card.html" with total_time=today_time done_tasks=today_tasks title="Today" %}
    
    <div class="small muted d-flex-align-end gap-1">
        <span class="d-flex-align-end">
            <span class="material-symbols-outlined">bar_chart</span>
            stats:
        </span>
        <a href="{% url 'tracker:daily' 0 %}">daily</a> | <a href="{% url 'tracker:weekly' 0 %}">weekly</a> | <a href="{% url 'tracker:monthly' 0 %}">monthly</a> 
    </div>
</section>

<section class="mb-3">
    <a class="float-end small" href="{% url 'tracker:tasks' %}">see all</a>
    <h3 class="mb-2">Tasks</h3> 
    {% for task in tasks %}
        {% include "tracker/partials/_pending_task_list_item.html" with task=task current_session=current_session include_project=True %}
    {% empty %}
        <div class="card card-li">
            <div class="small muted mb-3">
                You don't have any pending tasks.
            </div>
            <div class="mb-1">
               <a href="{% url 'tracker:task-create' %}" class="button button-light"> create task</a>
            </div>
        </div>
    {% endfor %}
    
</section>

<section>
    <a class="float-end small" href="{% url 'tracker:projects' %}">see all</a>
    <h3 class="mb-2">Projects</h3> 
    {% for project in projects %}
        {% include "tracker/partials/_project_list_item.html" with project=project %}
    {% empty %}
        <div class="card card-li">
            <div class="small muted">
                You don't have any active projects.
            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}