{% extends "base.html" %}

{% block content %}

<section class="mb-3">
    <div class="mb-2">
        <h3 class="mb-3">Projects</h3>
        <a class="button" href="{% url 'tracker:project-create' %}">create project</a>
    </div>
</section>
<section class="mb-3">
    <h3 class="mb-2">Active</h3>
    {% for project in active_projects %}
        {% include "partials/_project_list_item.html" with project=project %}
    {% empty %}
        <div class="card card-li">
            <div class="small muted">
                You don't have any active projects.
            </div>
        </div>
    {% endfor %}
</section>

<section class="mb-3">
    <h3 class="mb-2">Archived</h3>
    {% for project in archived_projects %}
        {% include "partials/_project_list_item.html" with project=project %}
    {% empty %}
        <div class="card card-li">
            <div class="small muted">
                You don't have any archived projects.
            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}