{% extends "base.html" %}

{% block content %}

<div class="mb-3">
  <h3 class="mb-1">{{ task.name }}</h3>
  <div class="small d-flex-align-end gap-1">
      {% if task.project.active %}
      <span class="material-symbols-outlined muted icon">folder_open</span>
      {% else %}
      <span class="material-symbols-outlined muted icon">inventory_2</span>
      {% endif %}
      <a href="{% url 'tracker:project-detail' pk=task.project.pk %}">{{ task.project.name }}</a>
  </div>
</div>

<div id="timer" class="timer-clock mb-2" data-start-time="{{ session.start_time|date:'c' }}">00:00:00</div>

{% if session %}
  <form method="post" class="text-center">
    {% csrf_token %}
    <input type="hidden" name="task_id" value="{{task.id}}">
    <button class="timer-button" type="submit">
      <span class="material-symbols-outlined timer-button">stop_circle</span>
    </button>
  </form>
{% else %}
  <form method="post" class="text-center">
    {% csrf_token %}
    <input type="hidden" name="session_id" value="{{session.id}}">
    <button type="submit">
      <span class="material-symbols-outlined timer-button">play_circle</span>
    </button>
  </form>
{% endif %}

{% endblock %}