{% extends "base.html" %}

{% block content %}
<div class="mb-3">
    <h3>Weekly summary</h3>
</div>
<div class="mb-2">
    <a class="small muted link" href="{% url 'tracker:weekly' previous %}">previous</a>
    {% if next is not None %}
    | <a class="small muted link" href="{% url 'tracker:weekly' next %}">next</a>
    {% endif %}
</div>

<section class="mb-3">
    {% include "tracker/partials/_summary_card.html" with total_time=weekly_time done_tasks=weekly_tasks title=week_date %}
</section>

<section class="mb-3">
    <h3 class="mb-2">Projects</h3> 
    {% for project in projects %}
        {% include "tracker/partials/_project_summary_list_item.html" with project=project %}
    {% empty %}
        <div class="card card-li">
            <div class="small muted">
                You didn't work on any projects this week.
            </div>
        </div>
    {% endfor %}
</section>

<section class="mb-3">
    <h3 class="mb-2">Week days overview</h3>
    <div class="card card-li">
        {% for day in week_days %}
        <div class="mb-1">
            <div>
                <span class="small">{{day.date_label}}</span>
                <span class="small muted bold">
                    {{day.daily_time_spent_dict.hours|stringformat:"02d"}}:{{day.daily_time_spent_dict.minutes|stringformat:"02d"}}
                </span>
            </div>
            <div class="duration-bar horizontal" data-duration={{day.total_seconds_spent}}></div>
        </div>
        {% endfor %}
    </div>
</section>


{% endblock %}