{% extends "base.html" %}

{% block content %}
<div class="mb-3">
    <h3>Daily summary</h3>
</div>
<div class="mb-2">
    <a class="small muted link" href="{% url 'tracker:daily' previous %}">previous</a>
    {% if next is not None %}
    | <a class="small muted link" href="{% url 'tracker:daily' next %}">next</a>
    {% endif %}
</div>

<section class="mb-3">
    {% include "partials/_summary_card.html" with total_time=daily_time done_tasks=daily_tasks title=date %}
</section>

<section class="mb-3">
    <h3 class="mb-2">Projects</h3> 
    {% for project in projects %}
        <div class="card card-li grid-min-content-auto">
            <div class="pie-chart" data-percentage={{project.percentage}}>
            </div>
            <div>
                <a href="{% url 'tracker:project-detail' project.pk %}">{{project.name}}</a>
                <span class="small muted bold">
                    {{project.daily_time_spent_dict.hours|stringformat:"02d"}}:{{project.daily_time_spent_dict.minutes|stringformat:"02d"}}
                </span>
            </div>
        </div>
    {% empty %}
        <div class="card card-li">
            <div class="small muted">
                You didn't work on any projects at this date.
            </div>
        </div>
    {% endfor %}
</section>

<section class="mb-3">
    <h3 class="mb-2">Workflow</h3>
    <div>
    {% for session in sessions %}
        <div class="mb-1 small" >
            <div>
                <span class="muted">{{session.start_time|time}}</span>
                <div class="card card-li grid-min-content-auto">
                    <div class="duration-bar vertical thin" data-duration={{session.duration_in_seconds}}>
                    </div>
                    <div>
                        {{session.task.name}}
                        <span class="muted bold">
                            {{session.duration_dict.hours|stringformat:"02d"}}:{{session.duration_dict.minutes|stringformat:"02d"}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="card card-li">
            <div class="small muted">
                No focused sessions were recorded at this date.
            </div>
        </div>
    {% endfor %}
    </div>
</section>

{% endblock %}