{% extends "base.html" %}

{% block content %}
<div class="mb-3">
    <a class="link" href="{% url 'tracker:tasks' %}">◂ task list</a>
</div>
    <section class="mb-3">
        <div class="mb-2">
            <h3 class="mb-1">
                {{task.name}}
            </h3>

            <div class="d-flex-align-end d-flex-between">
                <div class="small d-flex-align-end gap-1">
                    {% if task.project.active %}
                    <span class="material-symbols-outlined muted icon">folder_open</span>
                    {% else %}
                    <span class="material-symbols-outlined muted icon">inventory_2</span>
                    {% endif %}
                    <a href="{% url 'tracker:project-detail' pk=task.project.pk %}">{{ task.project.name }}</a>
                </div>
                <div class="small">
                    <a href="{% url 'tracker:task-update' pk=task.pk%}">edit</a> |
                    <a href="{% url 'tracker:task-delete' pk=task.pk%}">delete</a>
                </div>  
            </div>
            
        </div>
        <div>
            <div class="card summary-card d-flex-even">
                <div class="container">
                    <div class="status-title">
                        focused for
                    </div>
                    <div class="status-data">
                        <strong>
                            {{task.total_time_spent_dict.hours|stringformat:"02d"}}:{{task.total_time_spent_dict.minutes|stringformat:"02d"}}
                        </strong>
                    </div>
                </div>

                <div class="container">
                    <div class="status-title">
                        focus
                    </div>
                    <div class="status-data">
                        <a href="{% url 'tracker:session-start' pk=task.pk %}">
                            ▶
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <h3 class="mb-2">Sessions</h3>
        <div>
            {% for session in sessions %}
            <div class="card card-li">
                <strong>
                    {{session.duration_dict.hours|stringformat:"02d"}}:{{session.duration_dict.minutes|stringformat:"02d"}}
                </strong>
                <span class="muted small">
                    - {{ session.start_time|timesince }} ago.
                </span>
            </div>
            {% empty %}
            <div class="card card-li">
                <div class="small muted">
                    You have not yet focused on this task.
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}