{% extends "base.html" %}

{% block content %}

<section class="mb-3">
    <div class="mb-2">
        <h3 class="mb-3">Tasks</h3>
        <a class="button" href="{% url 'tracker:task-create' %}">create task</a>
    </div>
</section>
<section class="mb-3">
    <h3 class="mb-2">pending</h3>
    {% for task in pending_tasks %}
        {% include "tracker/partials/_pending_task_list_item.html" with task=task current_session=current_session include_project=True %}
    {% empty %}
        <div class="card card-li">
            <div class="small muted">
                You don't have any pending tasks in your active projects.
            </div>
        </div>
    {% endfor %}
</section>

<section class="mb-3">
    <h3 class="mb-2">done today</h3>
    {% for task in done_today %}
        {% include "tracker/partials/_done_task_list_item.html" with task=task include_project=True %}
    {% empty %}
        <div class="card card-li">
            <div class="small muted">
                You have not finished any tasks today.
            </div>
        </div>
    {% endfor %}
</section>

{% endblock %}