<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}tick{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <nav class="navbar">
        <div>
          {% if request.user.is_authenticated%}
              {% if current_session %}
                <a class="navbar-brand" href="{% url 'tracker:session-active' pk=current_session.pk %}">
                  tick
                  <span id="timer" class="muted" data-start-time="{{ current_session.start_time|date:'c' }}">
                    00:00:00
                  </span>
                </a>
              {% else %}
                <a class="navbar-brand" href="{% url 'tracker:dashboard' %}">tick</a>
              {% endif %}
            <a href="{% url 'users:account' %}">account</a>
          {% else %}
            <a class="navbar-brand" href="{% url 'tracker:index' %}">tick</a>
            <a href="{% url 'users:login' %}">login</a>
          {% endif %}
        </div>
      </nav>
</header>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="alert alert-{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<main class="d-flex-even">
    <div class="main-container">
    {% block content %}
    {% endblock %}
    </div>
</main>

{% block script %}
<script src="{% static 'js/track.js' %}" defer></script>
{% endblock %}

</body>
</html>