{% extends "base.html" %}

{% block content %}
<section class="mb-3">
    <div class="card summary-card">
        <div class="container">
            <h3 class="text-center mb-1">Today</h3>
            <div class="d-flex-even">
                <div>
                    <div class="status-title">
                        focused for
                    </div>
                    <div class="status-data">
                        <strong>
                            {{today_time.hours|stringformat:"02d"}}:{{today_time.minutes|stringformat:"02d"}}
                        </strong>
                    </div>
                </div>
                <div>
                    <div class="status-title">
                        tasks
                    </div>
                    <div class="status-data">
                        <strong>
                            {{today_tasks}}
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mb-3">
    <a class="float-end small" href="{% url 'tracker:tasks' %}">see all</a>
    <h3 class="mb-2">Tasks</h3> 
        {% if current_session %}
            {% for task in tasks %}
                    {% if current_session.task.pk == task.pk %}
                    <div class="card card-li w-action active">
                        <div class="active-icon"></div>
                        <div>
                            <a href="{% url 'tracker:task-detail' task.pk%}">
                                {{task.name}}
                            </a>
                            {% if task.total_seconds_spent > 0 %}
                            <span class="small muted bold">
                                {{task.total_time_spent_dict.hours|stringformat:"02d"}}:{{task.total_time_spent_dict.minutes|stringformat:"02d"}}
                            </strong>
                            {% endif %}
                        </div>
                        <a href="{% url 'tracker:session-start' task.pk %}">▶</a>
                    </div>
                {% else %}
                    <div class="card card-li">
                        <div>
                            <a href="{% url 'tracker:task-detail' task.pk%}">
                                {{task.name}}
                            </a>
                            {% if task.total_seconds_spent > 0 %}
                            <span class="small muted bold">
                                {{task.total_time_spent_dict.hours|stringformat:"02d"}}:{{task.total_time_spent_dict.minutes|stringformat:"02d"}}
                            </strong>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for task in tasks %}
                <div class="card card-li w-action">
                    <div>
                        <a href="{% url 'tracker:task-detail' task.pk%}">
                            {{task.name}}
                        </a>
                        {% if task.total_seconds_spent > 0 %}
                        <span class="small muted bold">
                            {{task.total_time_spent_dict.hours|stringformat:"02d"}}:{{task.total_time_spent_dict.minutes|stringformat:"02d"}}
                        </strong>
                        {% endif %}
                    </div>
                    <a href="{% url 'tracker:session-start' task.pk %}">▶</a>
                </div>
            {% endfor %}
        {% endif %}
</section>

<section>
    <a class="float-end small" href="#">see all</a>
    <h3 class="mb-2">Projects</h3> 
        {% for project in projects %}
        <div class="card card-li">
            {{project.name}} 
            <span class="small muted bold">
                {{project.total_time_spent_dict.hours|stringformat:"02d"}}:{{project.total_time_spent_dict.minutes|stringformat:"02d"}}
            </span>
        </div>
        {% endfor %}
    {% endblock %}
</section>