{% extends "base.html" %}

{% block content %}
<section class="mb-3">
    <div class="card summary-card">
        <div class="container">
            <h3 class="text-center mb-1">Today</h3>
            <div class="d-flex-even">
                <div>
                    <div class="status-title">
                        focused for
                    </div>
                    <div class="status-data">
                        <strong>
                            {{today_time.hours|stringformat:"02d"}}:{{today_time.minutes|stringformat:"02d"}}
                        </strong>
                    </div>
                </div>
                <div>
                    <div class="status-title">
                        tasks
                    </div>
                    <div class="status-data">
                        <strong>
                            {{today_tasks}}
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mb-3">
    <a class="float-end small" href="{% url 'tracker:tasks' %}">see all</a>
    <h3 class="mb-2">Tasks</h3> 
    {% for task in tasks %}
        {% include "partials/_pending_task_list_item.html" with task=task current_session=current_session %}
    {% empty %}
        <div class="card card-li">
            <div class="small muted mb-3">
                You don't have any pending tasks.
            </div>
            <div class="mb-1">
               <a href="{% url 'tracker:task-create' %}" class="button button-light"> create task</a>
            </div>
        </div>
    {% endfor %}
    
</section>

<section>
    <a class="float-end small" href="{% url 'tracker:projects' %}">see all</a>
    <h3 class="mb-2">Projects</h3> 
        {% include "partials/_project_list.html" with projects=projects %}
</section>
{% endblock %}