{% extends "base.html" %}

{% block content %}
<div class="mb-3">
    <a href="{% url 'tracker:projects' %}">◂ project list</a>
</div>
<section class="mb-3">
    <div class="mb-2">
        <h3 class="mb-1">
            {{project.name}}
            {% if not project.active %}
             (Archived)
        </h3>
        <div class="float-end small">
            {% if project.active %}
            <a href="{% url 'tracker:project-update' project.pk %}">edit</a> |
            <a href="{% url 'tracker:project-archive' project.pk %}">archive</a>
            {% else %}
            <a href="{% url 'tracker:project-unarchive' project.pk %}">unarchive</a> |
            <a href="{% url 'tracker:project-delete' project.pk %}">delete</a>
            {% endif %}
        </div>
        <div class="small"><span class="muted">Created at:</span> {{ project.created_at|date }}</div>        
    </div>
    <div class="mb-2">
        <div class="card summary-card d-flex-even">
            <div class="container">
                <div class="status-title">
                    focused for
                </div>
                <div class="status-data">
                    <strong>
                        {{project.total_time_spent_dict.hours|stringformat:"02d"}}:{{project.total_time_spent_dict.minutes|stringformat:"02d"}}
                    </strong>
                </div>
            </div>

            <div class="container">
                <div class="status-title">
                    tasks
                </div>
                <div class="status-data">
                    {{done_tasks|length}}/{{project.tasks.all|length}}
                </div>
            </div>
        </div>
    </div>
    <div>
        <a class="button" href="{% url 'tracker:project-create-task' pk=project.pk %}">create task</a>
    </div>
</section>

<section class="mb-3">
    <h3 class="mb-2">pending</h3>
    {% for task in pending_tasks %}
        {% include "partials/_pending_task_list_item.html" with task=task current_session=current_session %}
    {% empty %}
        <div class="card card-li">
            <div class="small muted">
                You don't have any pending tasks for this project.
            </div>
        </div>
    {% endfor %}
</section>

<section>
    <h3 class="mb-2">done</h3>
        {% for task in done_tasks %}
            {% include "partials/_done_task_list_item.html" with task=task %}
        {% endfor %}
</section>
{% endblock %}