{% extends "base.html" %}

{% block content %}

<section class="mb-3">
    <div class="mb-2">
        <h3 class="mt-3">Tasks</h3>
        <a class="btn btn-primary" href="{% url 'tracker:task-create' %}">create task</a>
    </div>
</section>
<section class="mb-3">
    <h3 class="mb-2">pending</h3>
        {% for task in pending_tasks %}
        <div class="card card-li w-action">
            <div>
                <a href="{% url 'tracker:task-detail' task.pk%}">
                    {{task.name}}
                </a>
                {% if task.total_seconds_spent > 0 %}
                <span class="small muted bold">
                    {{task.total_time_spent_dict.hours|stringformat:"02d"}}:{{task.total_time_spent_dict.minutes|stringformat:"02d"}}
                </strong>
                {% endif %}
            </div>
            <a href="{% url 'tracker:session-start' task.pk %}">▶</a>
        </div>
        {% endfor %}
</section>
<hr>
<section>
    <h3 class="mb-2">done</h3>
        {% for task in done_tasks %}
        <div class="card card-li">
            <a href="{% url 'tracker:task-detail' task.pk%}">{{task.name}}</a>
            <span class="small muted bold">
                {{task.total_time_spent_dict.hours|stringformat:"02d"}}:{{task.total_time_spent_dict.minutes|stringformat:"02d"}}
            </span>
        </div>
        {% endfor %}
</section>
{% endblock %}