{% extends "base.html" %}

{% block content %}
<h3 class="mt-3">Tasks</h3>
<a class="btn btn-primary" href="{% url 'tracker:task-create' %}">create task</a>
<hr>
<h3>pending</h3>
<div class="card">
    <ul class="list-group list-group-flush">
    {% for task in pending_tasks %}
    <li class="list-group-item">
        <a href="{% url 'tracker:task-detail' task.pk%}">{{task.name}}</a>
        <strong>
            {{task.total_time_spent_dict.hours|stringformat:"02d"}}:{{task.total_time_spent_dict.minutes|stringformat:"02d"}}
        </strong>
    </li>
    {% endfor %}
    </ul>
</div>

<hr>
<h3>done</h3>
<div class="card">
    <ul class="list-group list-group-flush">
    {% for task in done_tasks %}
    <li class="list-group-item">
        <a href="{% url 'tracker:task-detail' task.pk%}">{{task.name}}</a>
        <strong>
            {{task.total_time_spent_dict.hours|stringformat:"02d"}}:{{task.total_time_spent_dict.minutes|stringformat:"02d"}}
        </strong>
    </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}