{% extends "base.html" %}

{% block content %}

<h3 class="mb-2">{{ task.name }}</h3>
<div id="timer" class="timer-clock mb-2" data-start-time="{{ session.start_time|date:'c' }}">00:00:00</div>

{% if session %}
  <form method="post" class="text-center">
    {% csrf_token %}
    <input type="hidden" name="task_id" value="{{task.id}}">
    <button class="timer-button" type="submit">⏹</button>
  </form>
{% else %}
  <form method="post" class="text-center">
    {% csrf_token %}
    <input type="hidden" name="session_id" value="{{session.id}}">
    <button class="timer-button" type="submit">▶</button>
  </form>
{% endif %}

{% endblock %}