{% extends "base.html" %}

{% block content %}
<div class="mb-3">
    <h3>Weekly stats</h3>
</div>

<section class="mb-3">
    {% include "partials/_summary_card.html" with total_time=weekly_time done_tasks=weekly_tasks title=week_date %}
</section>

<section class="mb-3">
    <h3 class="mb-2">Projects</h3> 
    {% for project in projects %}
        <div class="card card-li grid-min-content-auto">
            <div class="pie-chart" style="--percentage: {{project.percentage}};">
            </div>
            <div>
                <a href="{% url 'tracker:project-detail' project.pk %}">{{project.name}}</a>
                <span class="small muted bold">
                    {{project.weekly_time_spent_dict.hours|stringformat:"02d"}}:{{project.weekly_time_spent_dict.minutes|stringformat:"02d"}}
                </span>
            </div>
        </div>
    {% endfor %}
</section>

<section class="mb-3">
    <h3 class="mb-2">Week days overview</h3>
    {% for day in week_days %}
    <div class="card card-li">
        <div>
            {{day.weekday}} 
            <span class="small muted bold">
                {{day.daily_time_spent_dict.hours|stringformat:"02d"}}:{{day.daily_time_spent_dict.minutes|stringformat:"02d"}}
            </span>
        </div>
        <div style="border: solid 4px black; width:{{day.total_seconds_spent}}rem;"></div>
    </div>
    {% endfor %}
</section>


{% endblock %}