        <div class="card card-li grid-3">
            {% if current_session and current_session.task.pk == task.pk %}
            <div class="active-icon"></div>
            {% else %}
            <div></div>
            {% endif %}
            <div>
                <a href="{% url 'tracker:task-detail' task.pk%}">
                    {{task.name}}
                </a>
                {% if task.total_seconds_spent > 0 %}
                <span class="small muted bold">
                    {{task.total_time_spent_dict.hours|stringformat:"02d"}}:{{task.total_time_spent_dict.minutes|stringformat:"02d"}}
                </span>
                {% endif %}
            </div>
            {% if not current_session or current_session.task.pk == task.pk %}
            <a href="{% url 'tracker:session-start' task.pk %}">▶</a>
            {% else %}
            <div></div>
            {% endif %}
        </div>